<div class="container">
    <h1 class="text-center mt-3 text-info">
        Employee Management System
    </h1>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <a href="/employee/add-employee" class="btn btn-success mt-3 w-25">Add Employee</a>
        <a href="/employee/view-employee" class="btn btn-info mt-3 w-25">View Employee</a>
        <a href="/employee/update-employee" class="btn btn-warning mt-3 w-25">Edit Employee</a>
        <a href="/employee/delete-employee" class="btn btn-danger mt-3 w-25">Delete Employee</a>
    </div>
</div>